{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="{% static 'css/carrot.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css"
          integrity="sha512-4wfcoXlib1Aq0mUtsLLM74SZtmB73VHTafZAvxIp/Wk9u1PpIsrfmTvK0+yKetghCL8SHlZbMyEcV8Z21v42UQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>당근당근</title>
</head>
<body>
<div class="screen">
    <header>
        <span class="title">🥕🥕🥕🥕🥕</span>

    </header>
    <main>

        <span class="searchbar">
            <i class="fas fa-search fa-md" style="color: #ff9500;"></i>&nbsp;
            <input placeholder="당근!">
        </span>
        <div class="menutop">
            <span>상태</span><span>제목</span><span>가격</span></div>
        <br>
        <hr>
        {% for board in boards %}
        <li class="content">
            <span>{{ board.state}}</span><a href="">{{ board.title }}</a> <span>₩ {{board.price}}</span>
        </li>
        <hr>
        {% endfor %}
        <a href="{% url 'write' %}">
            <button> ✏️글쓰기️✏️</button>
        </a>

    </main>

    <div class="bottom-bar">
        <a href=""> <i class="fas fa-envelope"></i></a>
        <a href=""><i class="fas fa-home"></i></a>
        <a href=""><i class="fas fa-user"></i></a>
    </div>
</div>

</body>
</html>